<app-navbar-customer></app-navbar-customer>
<app-my-merchant-banner [merchant]="merchant"></app-my-merchant-banner>
<app-second-navbar></app-second-navbar>

<section class="content">
  <div class="mt-3 container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Có {{totalOrder}} đơn hàng</h3>
            <button class="btn btn-info float-right">
              <a class="text-light" routerLink="/merchant/{{merchant.id}}/orders/users">Quản lý đơn hàng theo Khách hàng</a>
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>STT</th>
                <th>Thời gian order</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders; index as i">
                <td>{{i + 1}}</td>
                <td>{{order.create_Date| date: 'dd/MM/yyyy hh:mm'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<hr>
<app-footer></app-footer>
