<section class="section pt-5 pb-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="m-0">Bạn có cửa hàng? <a routerLink="merchant-register">Gia nhập với chúng tôi cùng cung cấp sản phẩm
          tốt nhất cho khách hàng</a></h5>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="m-0">Đăng kí làm người vận chuyển <a routerLink="shipper-register">Tại đây!</a></h5>
      </div>
    </div>
  </div>
</section>
