<section class="offer-dedicated-nav bg-white border-top-0 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav" id="pills-tab" role="tablist">
          <li *ngIf="merchant.active" class="nav-item">
            <a class="nav-link " data-toggle="pill"
               routerLink="/merchant" role="tab" aria-controls="pills-order-online"
               aria-selected="true">Món ăn</a>
          </li>
          <li *ngIf="merchant.active"  class="nav-item">
            <a class="nav-link "data-toggle="pill"
               routerLink="/merchant/orders" role="tab" aria-controls="pills-order-online"
               aria-selected="true">Đơn hàng</a>
          </li>
          <li *ngIf="merchant.active"  class="nav-item">
            <a class="nav-link " data-toggle="pill"
               routerLink="/merchant/{{merchant.id}}/revenue" role="tab" aria-controls="pills-order-online"
               aria-selected="true">Doanh thu</a>
          </li>
          <li *ngIf="merchant.active"  class="nav-item">
            <a class="nav-link " data-toggle="pill"
               routerLink="/merchant/info" role="tab" aria-controls="pills-order-online"
               aria-selected="true">Thông tin</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews"
                  role="tab" aria-controls="pills-reviews" aria-selected="false">Đánh giá & Reviews</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
