<div class="p-1" *ngIf="merchant.vsattp">
  <div
    class="bg-white rounded shadow-sm text-white mb-4 p-4 clearfix restaurant-detailed-earn-pts card-icon-overlap">
    <img class="img-fluid float-left mr-3" src="assets/customer-template/img/earn-score-icon.png">
    <h6 class="pt-0 text-primary mb-1 font-weight-bold">VSATTP</h6>
    <p class="mb-2">Nhà hàng chứng nhận đảm bảo vệ sinh an toàn thực phẩm</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" data-toggle="modal" data-target="#modal-vsattp-img">Xem thông tin</button>
    </div>
    <div class="icon-overlap">
      <i class="icofont-sale-discount"></i>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-vsattp-img" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <h4 class="text-center">Giấy chứng nhận vệ sinh an toàn thực phẩm</h4>
      <img class="image-vsattp" src="http://localhost:8080/image/{{merchant.vsattp}}">
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-primary" data-dismiss="modal">Đóng</button>
    </div>
  </div>
</div>
