<app-sidebar-admin></app-sidebar-admin>
<app-navbar-admin></app-navbar-admin>
<div class="content-wrapper">
  <router-outlet></router-outlet>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Thông tin chi tiết cửa hàng</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <form [formGroup]="merchantForm" (ngSubmit)="submit()">
                <div class="mb-3">
                  <label class="form-label">Tên cửa hàng</label>
                  <input formControlName="name" class="form-control" disabled>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input formControlName="user" class="form-control" disabled>
                </div>
                <div class="mb-3">
                  <label class="form-label">Địa chỉ</label>
                  <input formControlName="address" class="form-control" disabled>
                </div>
                <div class="mb-3">
                  <label class="form-label">Số điện thoại</label>
                  <input formControlName="phone" class="form-control" disabled>
                </div>
                <div class="mb-3">
                  <label class="form-label">Giờ mở cửa</label>
                  <input formControlName="openTime" class="form-control" disabled>
                </div>
                <div class="mb-3">
                  <label class="form-label">Giờ đóng cửa</label>
                  <input formControlName="closeTime" class="form-control" disabled>
                </div>
<!--                <div class="mb-3">-->
<!--                  <label class="form-label">Giấy chứng nhận VSATTP</label>-->
<!--                  <input formControlName="vsattp" class="form-control" disabled>-->
<!--                </div>-->
                <tr>
                  <td></td>
                  <td>
                    <button class="btn btn-primary">Thoát</button>
                  </td>
                </tr>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
