<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-8 text-left">
        <p class="mt-0 mb-0">Lớp C1121G1</p>
        <p class="mt-0 mb-0">Nhóm 1: TopFood group</p>
        <ul>
          <li>Nguyễn Văn Toàn - nvtoan69 - <a href="mailto: n.v.toan687@gmail.com">n.v.toan687@gmail.com</a></li>
          <li>Bùi Quốc Luýt - luytbui - <a href="mailto: luytbq43@gmail.com">luytbq43@gmail.com</a></li>
          <li>Quách Ngọc Minh - Kyu Kiu - <a href="mailto: minkiukiu@gmail.com">minkiukiu@gmail.com</a></li>
          <li>Trương Hùng Cường - Cường sẹo - <a href="mailto: truonghungcuong12012001@gmail.com">truonghungcuong12012001@gmail.com</a>
          </li>
          <li>Ngô Quốc Việt - Việt - <a href="mailto: ngovietlc93@gmail.com">ngovietlc93@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-4 text-right">
        <p class="mt-0 mb-0">CodeGym.vn</p>
        <p class="mt-0 mb-0">Công ty CP CodeGym Việt Nam</p>
      </div>
    </div>

    <p class="mt-0 mb-0">© Template copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>
    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by
      <a class="text-danger" target="_blank"
         href="http://thaotrinh.info">thaotrinh.info</a>
    </small>
  </div>
</footer>
