<app-navbar-customer></app-navbar-customer>

<section class="section pt-5 pb-5 osahan-not-found-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center pt-5 pb-5">
        <img class="img-fluid mb-5" src="assets/customer-template/img/thanks.png" alt="404">
        <h1 class="mt-2 mb-2 text-success">Thành công!</h1>
        <p class="mb-5">Bạn đã thực hiện đặt hàng thành công</p>
        <button class="btn btn-primary btn-lg" (click)="goToTrackOrder()">Xem chi tiết đơn hàng :)</button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
