<app-sidebar-admin></app-sidebar-admin>
<app-navbar-admin></app-navbar-admin>
<div class="content-wrapper">
  <router-outlet></router-outlet>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Danh sách người vận chuyển</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <table id="shipper-list" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Tên người vận chuyển</th>
                  <th>Số điện thoại</th>
                  <th>Biển số xe</th>
                  <th>Tên xe</th>
                  <th>Trạng thái</th>
                  <th colspan="2">Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let shipper of shippers; index as i" >
                  <td>{{i + 1}}</td>
                  <td>{{shipper.name}}</td>
                  <td>{{shipper.phone}}</td>
                  <td>{{shipper.licensePlates}}</td>
                  <td>{{shipper.carName}}</td>
                  <td>{{shipper.active? 'Đang hoạt đông' : 'Đã khóa'}}</td>
                  <td>
                    <button *ngIf="shipper.active" class="btn btn-danger" (click)="toggleShipper(shipper)">Khóa</button>
                    <button *ngIf="!shipper.active" class="btn btn-success" (click)="toggleShipper(shipper)">Mở</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
